# This was Run on EULER as it needs a looot of memory (around 100GB RAM) should do

In [1]:
!pip install zenodo_get

Requirement already satisfied: zenodo_get in /cluster/home/afelderer/.local/lib/python3.8/site-packages (1.3.4)
Requirement already satisfied: requests in /cluster/apps/nss/gcc-8.2.0/python/3.8.5/x86_64/lib64/python3.8/site-packages (from zenodo_get) (2.26.0)
Requirement already satisfied: wget in /cluster/home/afelderer/.local/lib/python3.8/site-packages (from zenodo_get) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /cluster/apps/nss/gcc-8.2.0/python/3.8.5/x86_64/lib64/python3.8/site-packages (from requests->zenodo_get) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /cluster/apps/nss/gcc-8.2.0/python/3.8.5/x86_64/lib64/python3.8/site-packages (from requests->zenodo_get) (2021.5.30)
Requirement already satisfied: charset_normalizer~=2.0.0 in /cluster/apps/nss/gcc-8.2.0/python/3.8.5/x86_64/lib64/python3.8/site-packages (from requests->zenodo_get) (2.0.6)
Requirement already satisfied: idna<4,>=2.5 in /cluster/apps/nss/gcc-8.2.0/python/3.8.5/x86_64/lib64/python3.8/site-packages (from requests->zenodo_get) (3.2)

[notice] A new release of pip is available: 23.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [4]:
!mkdir zips
!cd zips && python -m zenodo_get 5589195

mkdir: cannot create directory ‘zips’: File exists
Title: EDGAR-CORPUS
Keywords: SEC EDGAR 10-K Annual Reports, EDGAR, Electronic Data Gathering, Analysis, and Retrieval, 10-K, Annual Reports
Publication date: 2021-10-21
DOI: 10.5281/zenodo.5589195
Total size: 10938.6 MB

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/1993.zip   size: 37.8 MB
100% [....................................................] 39671583 / 39671583
Checksum is correct. (c7a8c972a9d52a79df8def014c57d8a6)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/1994.zip   size: 68.7 MB
100% [....................................................] 72050322 / 72050322
Checksum is correct. (5158d44b8fde68cf8132d8d4c40ec2e4)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/1995.zip   size: 123.0 MB
100% [..................................................] 129020135 / 129020135
Checksum is correct. (0d27103775f4a0a28e892a61a5a25bf8)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/1996.zip   size: 251.9 MB
100% [..................................................] 264123033 / 264123033
Checksum is correct. (e47ac89a316fa026920fc3e24b03adb3)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/1997.zip   size: 287.9 MB
100% [..................................................] 301858255 / 301858255
Checksum is correct. (51c80f4e5860e18eaef23877aedef9ff)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/1998.zip   size: 307.5 MB
100% [..................................................] 322463918 / 322463918
Checksum is correct. (e7c92e0cdcf064abe553f2109f716039)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/1999.zip   size: 313.0 MB
100% [..................................................] 328222923 / 328222923
Checksum is correct. (648d62f99678aef766a97576d4170325)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2000.zip   size: 320.7 MB
100% [..................................................] 336321301 / 336321301
Checksum is correct. (5da3e94d1199b526033d2b25a3dc6bde)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2001.zip   size: 326.3 MB
100% [..................................................] 342196815 / 342196815
Checksum is correct. (c17428657e67605ec04c5c9b09a3450f)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2002.zip   size: 350.4 MB
100% [..................................................] 367383885 / 367383885
Checksum is correct. (a0f8070818392e0784fff3e664812be1)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2003.zip   size: 352.8 MB
100% [..................................................] 369899919 / 369899919
Checksum is correct. (334a2ffc192a7cd792bd2b03879f0448)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2004.zip   size: 388.8 MB
100% [..................................................] 407691970 / 407691970
Checksum is correct. (fe7fe3c47bfbeb96379ba6c391859282)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2005.zip   size: 416.9 MB
100% [..................................................] 437128150 / 437128150
Checksum is correct. (1a9c54eaba0efda9d2a0e020395a194f)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2006.zip   size: 435.8 MB
100% [..................................................] 456993001 / 456993001
Checksum is correct. (36389bdfc90f4462a15a80ca7426200b)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2007.zip   size: 439.4 MB
100% [..................................................] 460738612 / 460738612
Checksum is correct. (578a44b6677c95aa3649f0eb6ae421f4)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2008.zip   size: 517.5 MB
100% [..................................................] 542640846 / 542640846
Checksum is correct. (64ddefd2c334dd17664c91590b06491a)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2009.zip   size: 530.2 MB
100% [..................................................] 555961636 / 555961636
Checksum is correct. (ae29ad7458c869821a93cb101550f3b3)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2010.zip   size: 520.6 MB
100% [..................................................] 545894947 / 545894947
Checksum is correct. (e9918ac3016c0c45f67ea04f05548d6f)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2011.zip   size: 509.9 MB
100% [..................................................] 534674156 / 534674156
Checksum is correct. (0723ab386a2276b440cffb430965f4e1)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2012.zip   size: 499.8 MB
100% [..................................................] 524063054 / 524063054
Checksum is correct. (1660683d100af2e34e73d9bc4d140158)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2013.zip   size: 496.7 MB
100% [..................................................] 520813175 / 520813175
Checksum is correct. (0a7604a85351b5a1eea56d47e017876b)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2014.zip   size: 502.6 MB
100% [..................................................] 527054227 / 527054227
Checksum is correct. (57448eac06ba38cf616bef1f7798d4e6)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2015.zip   size: 496.9 MB
100% [..................................................] 520999712 / 520999712
Checksum is correct. (6135af2b4158dc905d8f3388da67e3bd)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2016.zip   size: 493.2 MB
100% [..................................................] 517120898 / 517120898
Checksum is correct. (fb91e953ca60204e95f4fdc3d5150408)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2017.zip   size: 485.9 MB
100% [..................................................] 509497095 / 509497095
Checksum is correct. (7bd84219c2e1f0762a948f44a18bf352)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2018.zip   size: 480.8 MB
100% [..................................................] 504113703 / 504113703
Checksum is correct. (40974ffa101a858859e81da71a0948db)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2019.zip   size: 471.4 MB
100% [..................................................] 494331093 / 494331093
Checksum is correct. (6d9da4d76a990474d0434ecd1666b5a4)

Link: https://zenodo.org/api/files/1fffb366-d027-4e20-bb70-8aafe307fdbf/2020.zip   size: 512.1 MB
100% [..................................................] 537022100 / 537022100
Checksum is correct. (efad2bb10f25952bf541c4d572a5eec8)
All files have been downloaded.

In [1]:
from zipfile import ZipFile
from pathlib import Path
import pandas as pd
from tqdm.notebook import tqdm
import json
import re

base_path = Path("/cluster/scratch/afelderer/zips")

In [2]:
insurance_4digit_sic_codes = ["6311", "6321","6324", "6331", 
                              "6351", "6361", "6399","6411"]

In [8]:
basepath = Path("/cluster/scratch/afelderer/zips")
    
df_complete = pd.DataFrame()
for year in tqdm(range(1993,2021)):
    zip_file = ZipFile(base_path/f"{year}.zip")
    print(f"Start: {year}")
    df = pd.DataFrame()
    for text_file in zip_file.infolist():
        if text_file.filename.endswith('.json'):
            df = pd.concat([df, pd.DataFrame({k:[v] for k,v in json.load(zip_file.open(text_file.filename)).items()})])
    df["year"] = year
    df_complete = pd.concat([df_complete, df])
    df.to_pickle(f"pickle/{year}.pkl")
    print(f"End: {year}")

  0%|          | 0/28 [00:00<?, ?it/s]

Start: 1993
End: 1993
Start: 1994
End: 1994
Start: 1995
End: 1995
Start: 1996
End: 1996
Start: 1997
End: 1997
Start: 1998
End: 1998
Start: 1999
End: 1999
Start: 2000
End: 2000
Start: 2001
End: 2001
Start: 2002
End: 2002
Start: 2003
End: 2003
Start: 2004
End: 2004
Start: 2005
End: 2005
Start: 2006
End: 2006
Start: 2007
End: 2007
Start: 2008
End: 2008
Start: 2009
End: 2009
Start: 2010
End: 2010
Start: 2011
End: 2011
Start: 2012
End: 2012
Start: 2013
End: 2013
Start: 2014
End: 2014
Start: 2015
End: 2015
Start: 2016
End: 2016
Start: 2017
End: 2017
Start: 2018
End: 2018
Start: 2019
End: 2019
Start: 2020
End: 2020

In [2]:
df_complete = pd.DataFrame()
for year in tqdm(range(1993, 2021)):
    df = pd.read_pickle(f"pickle/{year}.pkl")
    df["year"] = year
    df_complete = pd.concat([df_complete, df])

  0%|          | 0/28 [00:00<?, ?it/s]

In [4]:
print("Nr. of 10k filings:", df_complete.shape[0])
print("Nr. of legal entities:", len(df_complete.cik.unique()))
print("Nr. of industry segments:", len(df_complete.sic.unique()))

Nr. of 10k filings: 222901
Nr. of legal entities: 37797
Nr. of industry segments: 443

In [6]:
df = df_complete[df_complete["sic"].isin(insurance_4digit_sic_codes)]
df.reset_index(drop=True, inplace=True)
df.reset_index(inplace=True)
df = df.rename(columns={"index": "report_id"})
df.to_pickle(Path("/cluster/home/afelderer/Thesis")/"raw_10k.pkl")
df_complete.to_pickle(base_path/".."/"all_10k.pkl")
del df_complete

In [7]:
!rm -r zips
!rm -r pickle

## Inspecting duplicate entries (same cik and year)

- I did hand inspect double entries for the same company (cik) in one year. 

- Some of the doubles happen during the first year which could have something 
to do with the initial filing.

- Some are filed for part of the year and then the full year as well.

- Both the two above are kept as is.

- For some companies there is one report missing in a certain year while there are 
two in the following year and the first one is often filed early in that year. 
In these cases I adjust the year of the first report to the "missing year"

In [3]:
df = pd.read_pickle(Path("/cluster/home/afelderer/Thesis")/"raw_10k.pkl")

In [4]:
counts = df.groupby(["cik", "year"], as_index=False).size()
duplicates = counts[counts["size"] > 1]
df_duplicates = pd.DataFrame()
for index, row in duplicates.iterrows():
    df_duplicates = pd.concat([df_duplicates, df[(df["cik"] == row["cik"]) & (df["year"] == row["year"])][["cik", "year", "filing_date", "period_of_report","sic"]] ])
df_duplicates

          cik  year filing_date period_of_report   sic
453    100716  1996  1996-06-28       1996-03-31  6411
503    100716  1996  1997-03-31       1996-12-31  6331
4336  1017907  2011  2011-08-31       2011-06-30  6331
4343  1017907  2011  2012-02-29       2011-12-31  6331
676   1027287  1997  1997-06-27       1997-03-31  6411
857   1027287  1997  1998-03-30       1997-12-31  6411
2136  1063980  2003  2003-03-27       2003-03-27  6411
2279  1063980  2003  2004-03-12       2003-12-31  6411
2115  1075343  2003  2004-03-26       2003-12-31  6331
2252  1075343  2003  2003-03-31       2003-03-31  6331
2993  1279363  2006  2006-02-14       2006-02-13  6324
3045  1279363  2006  2007-02-16       2006-12-31  6324
4000  1385613  2009  2009-02-23       2009-02-23  6331
4007  1385613  2009  2010-02-24       2009-12-31  6331
4707  1512927  2013  2014-04-17       2013-12-31  6311
4719  1512927  2013  2013-09-30       2013-06-30  6311
3036    22872  2006  2007-08-09       2006-12-31  6324
3210    22872  2006  2006-08-18       2006-05-31  6324
2849   356130  2005  2006-03-16       2005-12-31  6331
2883   356130  2005  2005-05-13       2005-03-31  6331
3425    60086  2007  2007-02-26       2007-02-23  6331
3575    60086  2007  2008-02-27       2007-12-31  6331
54      73313  1994  1995-07-13       1994-12-31  6331
111     73313  1994  1995-04-06       1994-12-31  6331
3997   777917  2009  2010-03-12       2009-12-31  6311
4071   777917  2009  2009-03-17       2009-03-16  6311
45     790381  1994  1995-03-30       1994-12-31  6331
86     790381  1994  1994-03-30       1994-03-30  6331
2726   836658  2005  2007-03-30       2005-12-31  6311
2912   836658  2005  2006-03-30       2005-12-31  6311
4573    84246  2012  2013-02-27       2012-12-31  6331
4633    84246  2012  2012-02-28       2012-01-31  6331
1182   869486  1999  1999-09-29       1999-06-30  6411
1272   869486  1999  2000-04-13       1999-12-31  6411
934    875159  1998  1999-03-01       1998-11-30  6351
1058   875159  1998  1999-11-29       1998-12-31  6351
943    881453  1998  1999-03-31       1998-12-31  6399
1006   881453  1998  1999-03-31       1998-12-31  6399

In [5]:
df.drop(1006,inplace=True) # Seems to be an almost identical entry thus only keeping the newer filing id report_id = 943
df.loc[2993]["year"] = 2005 # From Manual inspection if a year is missing and the following has two filings this is adjusted
df.loc[4000]["year"] = 2008
df.loc[3425]["year"] = 2006
df.loc[4071]["year"] = 2008
df.loc[2762]["year"] = 2006
df.loc[4663]["year"] = 2011

/cluster/apps/nss/gcc-8.2.0/python/3.8.5/x86_64/lib64/python3.8/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [6]:
df_master = df[[x for x in df.columns if x[:4] != "item"]]
df_master.to_pickle(Path("/cluster/home/afelderer/Thesis")/"master_10k.pkl")

In [8]:
df = pd.wide_to_long(df,
                     stubnames='item_', 
                     i="report_id", 
                     j="item", 
                     suffix="\d+[AB]*").rename(columns={"item_": "raw_text"}).sort_index()

In [10]:
df[["raw_text"]].to_pickle(base_path/"raw_text.pkl")
df["text"] = df["raw_text"].apply(
    lambda x: re.sub(
        string=x, 
        pattern="ITEM\s\d+\.*", 
        repl="", 
        count=1, 
        flags=re.IGNORECASE).strip().split("\n")
    )
## Santiy Check
print("# Starting with item:", df[df["text"].apply(lambda x: x[0][:4] == "item")].shape[0])
print("# Starting with Item:",df[df["text"].apply(lambda x: x[0][:4] == "Item")].shape[0])
print("# Starting with ITEM:",df[df["text"].apply(lambda x: x[0][:4] == "ITEM")].shape[0])
df = df.drop("raw_text", axis=1)
df = df.explode("text")
df["n_words"] = df.text.str.split(" ").str.len()

# Starting with item: 0
# Starting with Item: 0
# Starting with ITEM: 0

In [22]:
#df.reset_index(inplace=True)
#df = df[["report_id", "item", "text", "n_words"]]
df["paragraph_nr"] = df.groupby(['report_id']).cumcount()
df["loss_kw"] = df["text"].apply(lambda x: "loss" in x.lower())
df["unexpected_kw"] = df["text"].apply(lambda x: "unexpected" in x.lower())
df.to_pickle(Path("/cluster/home/afelderer/Thesis")/"paragraphs_10k.pkl")

/scratch/259395716.tmpdir/ipykernel_126546/1021089180.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["paragraph_nr"] = df.groupby(['report_id']).cumcount()
/scratch/259395716.tmpdir/ipykernel_126546/1021089180.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["loss_kw"] = df["text"].apply(lambda x: "loss" in x.lower())
/scratch/259395716.tmpdir/ipykernel_126546/1021089180.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["unexpected_kw"] = df["text"].apply(lambda x: "unexpected" in x.lower())

In [20]:
relevant_sections = ["2", "6", "7", "8"]
df[df.item.isin(relevant_sections)].to_pickle(Path("/cluster/home/afelderer/Thesis")/"paragraphs_relevant_10k.pkl")

In [37]:
df.groupby(["loss_kw", "unexpected_kw"]).count()

                       report_id     item     text  n_words  paragraph_nr
loss_kw unexpected_kw
False   False            6696309  6696309  6696309  6696309       6696309
        True                3465     3465     3465     3465          3465
True    False             593930   593930   593930   593930        593930
        True                3013     3013     3013     3013          3013

In [35]:
df[df.item.isin(relevant_sections)].groupby(["loss_kw", "unexpected_kw"]).count()

                       report_id     item     text  n_words  paragraph_nr
loss_kw unexpected_kw
False   False            3010982  3010982  3010982  3010982       3010982
        True                 878      878      878      878           878
True    False             342728   342728   342728   342728        342728
        True                1157     1157     1157     1157          1157